html{
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to left, rgba(204, 70, 70, 0.804), rgba(204, 175, 70, 0.804), rgba(164, 204, 70, 0.804), rgba(70, 204, 121, 0.804), rgba(70, 175, 204, 0.804), rgba(70, 117, 204, 0.804), rgba(110, 70, 204, 0.804), rgba(188, 70, 204, 0.804), rgba(204, 70, 92, 0.804));
    font-weight: bolder;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.divHeader {
    padding: 10px;
    margin: auto;
    height: 15em;
    background-image: linear-gradient(rgba(69, 70, 70, 0.5), rgba(77, 77, 77, 0.5)), url("../IMG/fondo-principal.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0 0 15px 15px;
    align-content: center;
}

.divHeader img {
    padding: 10px;
    margin: auto;
    width: 150px;
    display: flex;
    border-radius: 80px;
}

.divHeader h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    -webkit-text-stroke: 0.5px black;
    color: whitesmoke;
}

div>h2 {
    padding: 10px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode';
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: underline;
}

.First {
    padding: 20px;
    width: 75%;
    margin: auto;
}

.First summary {
    padding: 20px;
    font-size: 1.5em;
    color: whitesmoke;
    list-style-type: '👉🏻';
    transition: 400ms;
    cursor: pointer;
}

summary:hover{
    color:brown;
    font-size: 1.8em;
}

.First details {
    padding: 10px;
}

.First details[open] summary {
    margin-bottom: 10px;
    list-style-type: '👇🏻';
}

#free-menu{
    background-image: linear-gradient(rgba(69, 70, 70, 0.5), rgba(77, 77, 77, 0.5)), url("../IMG/menu-libre-fondo.jpg");    
}

#pizzas{
    background-image: linear-gradient(rgba(69, 70, 70, 0.5), rgba(77, 77, 77, 0.5)), url("../IMG/pizza-fondo.jpg");    
}

#promotion{
    background-image: linear-gradient(rgba(69, 70, 70, 0.5), rgba(77, 77, 77, 0.5)), url("../IMG/promos-fondo.jpg"); 
}

#tickets{
    background-image: linear-gradient(rgba(69, 70, 70, 0.5), rgba(77, 77, 77, 0.5)), url("../IMG/entradas-fondo.jpg");}

#bur-sand{
    background-image: linear-gradient(rgba(69, 70, 70, 0.5), rgba(77, 77, 77, 0.5)), url("../IMG/hambur-fondo.jpg");
}

#milanese{
    background-image: linear-gradient(rgba(69, 70, 70, 0.5), rgba(77, 77, 77, 0.5)), url("../IMG/milanesas-fondo.jpg");
}

#pasta{
    background-image: linear-gradient(rgba(69, 70, 70, 0.5), rgba(77, 77, 77, 0.5)), url("../IMG/pastas-fondo.jpg");
}

#desserts{
    background-image: linear-gradient(rgba(69, 70, 70, 0.5), rgba(77, 77, 77, 0.5)), url("../IMG/postres-fondo.jpeg");
}

#drinks{
    background-image: linear-gradient(rgba(69, 70, 70, 0.5), rgba(77, 77, 77, 0.5)), url("../IMG/bebidas-fondo.jpeg");  
}

.IMGSecciones{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 15px 15px;
}

table, th, td {
    padding: 10px;
    margin: auto;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 80%;
}

th {
    color: rgb(158, 4, 4);
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;
}

td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color:whitesmoke;
    width: 10em;
    -webkit-text-stroke: 0.5px black;
}

th+th {
    text-align: right;
}

td+td {
    text-align: right;
}

.contact-networks {
    display: flex;
    justify-content: space-between;
    height: 10em;
    width: 100%;
    background-color: brown;
    border-radius: 15px 15px 0 0;
}

.contact-networks img{
    height: 70%;
    border-radius: 15px;
}

.contact-networks button{
    border: none;
    padding: 0;
    margin: 0;
    height: 45px;
    width: 50px;
    border-radius: 8px;
    opacity: 0.6;
}

.contact-networks button:hover{
    box-shadow: 0.5px 0.5px 10px;
    cursor: pointer;
}

.contact-networks div{
    width: 33%;
    text-align: center;
    align-content:space-evenly;
}
