:root{
    --font-size-small: 1rem;
    --font-size-medium: 2rem;
    --font-size-large: 3rem;
    --primary-color: rgb(219, 121, 121);
    --secondary-color: rgba(0, 0, 0, 0.8);
}

html{
    scroll-behavior: smooth;
    background-color: whitesmoke;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url("../IMG/principales/fondo-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 10px;
    min-height: 20rem;
    height: 50vh;

    > div:first-child{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        min-height: 6rem;
        max-height: 7rem;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-color: rgba(62, 62, 62, 0.837);
        box-shadow: 3px 3px 10px white;

        > div{
            width: 25%;
            height: 20vh;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            border-left: 2px dashed white;
            margin: 0;
            padding: 0;
            min-height: 6rem;

            p, h2, h3, h4{
                margin: 0;
                padding: 0;
                color: white;
                text-shadow: 3px 3px 3px black;
            }

            >h2{
                font-size: var(--font-size-large);
                color: var(--primary-color);
                text-shadow: 3px 3px 5px black;
            }
        }

        > div:first-child{
            border-left: none;
        }

        > div:last-child{
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            > h4{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            > h4 > p{
                font-size: var(--font-size-medium);
                color: var(--primary-color);
                transition: all 200ms linear;
            }

            > h4 > p:hover{
                cursor: pointer;
                transform: scale(1.3);
                text-shadow: 3px 3px 5px black, -3px -3px 5px black;
            }
        }
    }

    > div:last-child{
        position: absolute;
        top: 85px;
        left: 10px;
        border: 1px solid black;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-image: url("../IMG/principales/logo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 3px 3px 5px white;
    }
}

.main{
    padding: 0;
    width: 90%;
    box-shadow: 5px 5px 10px black;
    border-radius: 0 0 15px 15px;
    background-color: rgba(255, 255, 255, 0.887);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin: auto;
    margin-bottom: 20px;

    > section{
        margin: 0;
        padding: 0;
        width: 90%;
    }

    > section:first-child > div{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 20px;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        margin-top: -40px;
        padding-bottom: 20px;
        border-bottom: 2px dashed black;

        > div{
            background-image: url("../IMG/principales/utencillos.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-width: 100px;
            min-height: 100px;
            border-radius: 50%;
            box-shadow: 3px 3px 10px gray;
            text-align: center;
            font-size: var(--font-size-small);
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 10px;
            transition: all 200ms linear;
            position: relative ;

            > p{
                margin: 0;
                padding: 5px;
                font-weight: bolder;
                color: var(--secondary-color);
            }
        }

        > div:hover{
            cursor: pointer;
            transform: scale(1.2);
            box-shadow: 3px 3px 5px black, -3px -3px 5px black, -3px 3px 5px var(--primary-color), 3px -3px 5px var(--primary-color);

            > p{
                text-shadow: 0.5px 0.5px 1px black;
                color: var(--primary-color);
            }
        }
    }

    > section:not(:first-child, :last-child){
        padding-bottom: 20px;
        border-bottom: dashed 2px black;
    }

    > section:not(:first-child) > div:first-child{
        width: 100%;
        height: fit-content;
        color: white;
        margin: 0;
        padding: 0;
        padding-left: 5px;
        -webkit-text-stroke: 0.5px black;
        background-color: var(--primary-color);
    }

    > section:not(:first-child) > div:last-child{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:start;
        gap: 20px;
        margin: 0;
        padding: 0;
    }

    > section:not(:first-child) > div > div{
        margin: 0;
        padding: 5px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 30%;
        border-radius: 15px;
        box-shadow: 1px 1px 10px gray;

        > div:first-child{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3, p{
                margin: 0;
                padding: 0;
            }

            p{
               font-size: 0.8rem;
            }

            > h3:last-child{
                font-weight: bolder;
                text-shadow: 0.5px 0.5px 1px black;
                color: var(--primary-color);
            }
        }

        > div:last-child{
            width: 40%;
            height: 60px;
            margin: auto;
            border-radius: 15px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.footer{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.887);
    box-shadow: 5px 0 10px black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;

    a{
        text-decoration: none;
        color: var(--primary-color);
    }

    a:hover{
        cursor: pointer;
        text-shadow: 0.5px 0.5px 1px black;
    }
}

@media screen and (max-width: 1100px){
    #logo, #ubicacion, #contacto, #redes{
        display: none;
    }

    .main > section:first-child > div{
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        gap: 10px;
    }
}

@media screen and (max-width: 930px){
    .main > section:not(:first-child) > div:last-child > div {
        width: 45%;
    }

    #nombre > h2{
        font-size: var(--font-size-medium);
    }
}

@media screen and (max-width: 650px){
    .main > section:not(:first-child) > div:last-child > div {
        width: 100%;
    }

    .main > section:not(:first-child) > div:last-child{
        justify-content: center;
    }

    .main > section:first-child > div > div{
        min-width: 90px;
        min-height: 90px;
        font-size: 1rem;
    }
}